<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
</head>
<body>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="#">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'adminn' %}">Adminn</a>
  </li>
  <!--
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'employee' %}">Employee</a>
  </li>-->
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
  </li>
</ul>
</body>
</html>