<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Punch</title>
    <style>
    div {
            background-color: lightgrey;
            width: 300px;
            border: 15px solid green;
            padding: 50px;
            margin: 20px;
        }
    </style>
</head>
<body>
    <form action="{% url 'check' %}" method="post">
    {% csrf_token %}
    <h1>PunchForm</h1>
    <div>
        <div style = "max-width:470px;">
            <tr>
            <center>
                <button style = "border:0px; background-color:#4285F4; margin-top:8%;height:35px; width:80%;margin-left:19%;" type = "submit" value = {{form.punchin}} ><strong>CHECKIN</strong></button>
                <button style = "border:0px; background-color:#4285F4; margin-top:8%;height:35px; width:80%;margin-left:19%;" type = "submit" value = {{form.punchout}} ><strong>CHECKOUT</strong></button>
            </center>
            </tr>
         </div>
    </div>
    </form>
</body>
</html>